/* Base styles */
.header {
    position: static;
    margin: 10% 10% 5% 0;
}

.header a {
    color: #686968;
    text-decoration: none;
    margin-right: 20px;
    font-size: medium;
}

.header a:hover {
    color: white;
}

#title {
    color: white;
    font-size: x-large;
    font-weight: 600;
    display: block;
}

#sub-title {
    color: rgb(110, 110, 110);
    font-size: small;
    font-weight: 600;
    display: block;
}

.description {
    margin-top: 20px;
    width: 50%;
}

.description p {
    color: rgb(100, 100, 100);
    text-align: start;
    font-size: medium;
    line-height: 1.5;
    margin-bottom: 15px;
}

#icons a {
    margin-right: 10px;
}

#icons :hover {
    cursor: pointer;
}

#icons a:last-child {
    margin-right: 0;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .description {
        width: 60%;
    }
}

@media (max-width: 992px) {
    .header {
        margin: 5% 5% 3% 0;
    }

    .description {
        width: 80%;
    }

    #title {
        font-size: large;
    }

    #sub-title {
        font-size: x-small;
    }
}

@media (max-width: 768px) {
    .header {
        margin: 5% 2% 3% 0;
        text-align: center;
    }

    .header a {
        display: block;
        margin-bottom: 10px;
    }

    .description {
        width: 90%;
    }

    #title {
        font-size: medium;
    }

    #sub-title {
        font-size: xx-small;
    }

    #icons a {
        margin-right: 5px;
    }
}

@media (max-width: 576px) {
    .header {
        margin: 5% 1% 3% 1%;
    }

    .description {
        width: 100%;
    }

    #title {
        font-size: small;
    }

    #sub-title {
        font-size: xxx-small;
    }

    #icons a {
        margin-right: 2px;
        width: 20px;
        height: 20px;
    }
}
