<div class="container">
    
    <div class="content">
        <a id="title">Gaurav Nandankar</a>
        <p id="sub-title"> Software Development Engineer </p>
        <div class="description">
 
            <p id="regular">
                Welcome to my portfolio! I am a versatile software developer with a strong foundation in both mobile and web development. With a passion for crafting innovative solutions and delivering seamless user experiences, I specialize in leveraging modern technologies like .NET, Angular, and Android to build robust, scalable, and user-centric applications.
            </p>
            <p id="regular">
                I contribute to cutting-edge projects by utilizing my expertise in ASP.NET Web API, .NET Core, Angular, and SQL. My commitment to industry best practices ensures that I deliver high-quality software solutions that not only meet but exceed client expectations. My experience spans developing intuitive native apps, managing complex web applications, and integrating APIs to optimize performance.
            </p>
            <p id="regular">
                Throughout my career, I’ve demonstrated a dedication to continuous learning and growth, whether it’s designing AI-based systems during my academic journey or enhancing features in existing applications to ensure user satisfaction.
            </p>
            <p id="regular">
                Explore my work to see how I bring ideas to life through code and design.
            </p>

           <p id="regular">
                <strong>Total Experience:</strong> {{ totalExperience }}
            </p>
            
            <p id="regular">
                Find me on
            </p>
            
            <p id="icons"> 
                <a (click)="open(1)">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>

                <a (click)="open(2)">
                    <i class="fab fa-github fa-2x"></i>
                </a>

                <a (click)="open(3)">
                    <i class="fas fa-envelope-square fa-2x"></i>
                </a>

                <a (click)="open(4)">
                    <i class="fab fa-stack-overflow fa-2x"></i>
                </a>

                <a (click)="open(5)">
                    <i class="fab fa-dev fa-2x"></i>
                </a>

                <a (click)="open(6)">
                    <i class="fab fa-dribbble fa-2x"></i>
                </a>

            </p>

        </div>
 
        <a id="download-resume" (click)="open(7)" download>
            <span>Download Resume</span>
        </a>

    </div>
    
</div>
