<div class="container">
    <div class="header">
        <a id="regular" (click)="openHome()" [class.active]="activeRoute === '/'">home</a>
        <a id="regular" (click)="openProjects()" [class.active]="activeRoute === '/projects'">projects</a>
        <a id="regular" (click)="openExperience()" [class.active]="activeRoute === '/experience'">experience</a>
        <a id="regular" (click)="openEducation()" [class.active]="activeRoute === '/education'">education</a>
        <a id="regular" (click)="openBlogs()" [class.active]="activeRoute === '/blogs'">articles & blogs</a>
    </div>
    
</div>
