.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.experience-item {
  border: 1px solid #444;
  padding: 20px;
  margin: 20px;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.experience-item:hover {
  transform: translateY(-5px);
}

.duration {
  font-size: 0.8em;
  color: #999;
}

.description {
  margin-top: 10px;
}
