.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.education-item {
  border: 1px solid #444;
  padding: 20px;
  margin: 20px;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.education-item:hover {
  transform: translateY(-5px);
}

.duration {
  font-size: 0.8em;
  color: #999;
}

.cgpa,
.percentage {
  margin-top: 10px;
}

.container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 80%;
}

.container h2 {
  color: #333;
}

.container ul {
  list-style: none;
  padding: 0;
}

.container li {
  padding: 8px 0;
  border-bottom: 1px dotted #ccc;
}

.container li:last-child {
  border-bottom: none;
}
