<div class="education-container">
  <div *ngFor="let education of educationData" class="education-item">
    <h3>{{ education.institution }}</h3>
    <h4>{{ education.degree }}</h4>
    <p class="duration">{{ education.duration }} | {{ education.location }}</p>
    <p class="cgpa" *ngIf="education.cgpa">{{ education.cgpa }}</p>
    <p class="percentage" *ngIf="education.percentage">{{ education.percentage }}</p>
  </div>
  <h2>Licenses & certifications</h2>
  <div class="education-item">
    <h3>Advance Diploma in Computer Application Certificate</h3>
    <h4>🎓 Advanced Diploma in Computer Education | Computer Application Certificate</h4>
    <p class="duration">Feb 2019</p>
  </div>
  <div class="education-item">
    <h3>Facilitate with Academic Excellence Certificate</h3>
    <h4>🏆 Awarded "Facilitate with Academic Excellence Certificate" for securing second rank in BCA final year at Vimal Tormal Poddar BCA Collage. Demonstrated commitment to academic excellence, leadership, and teamwork. Possess a strong foundation in computer applications, programming, and emerging technologies.</h4>
    <p class="duration">on 26th January 2023</p>
  </div>
</div>
