<div class="container">
    <div class="content">
        <h2 id="projects-header">Projects I've Worked On </h2>
        <div class="projects">
            <div class="project">
                <h3>CSMS: EV Charger Management System</h3>
                <p>A Charging Station Management System (CSMS) is a platform that manages multiple electric vehicle (EV) charging stations. CSMS software uses open protocols to communicate with charging stations to view and manage their status and data. CSMS can also be called a CPO platform, EV Charging Management Solution, or Chargepoint Management System.</p>
                <a> Technologies: </a>
                <a id="tech">
                    .NET C#, Android (Kotlin), Micro-Service, MSSQL, Entity Framework
                </a> 
            </div>

            <div class="project">
                <h3>TimeTrackingTool</h3>
                <p>An app designed to streamline project
                    management by tracking employee hours.
                    Enabled accurate project tracking and
                    optimized workflow efficiency through an
                    intuitive interface. Empowered controllers and
                    admins with robust features for assigning
                    projects, tracking progress, and approving
                    hours.</p>
                    <a> Technologies: </a>
                    <a id="tech">
                        .NET C#, Angular, MSSQL, Entity Framework
                    </a> 
            </div>

            <div class="project">
                <h3>SutraPlus</h3>
                <p>The system streamlined inventory tracking, bill
                    creation, and ledger management for
                    import/export operations. Provided real-time
                    updates, automated documentation, and robust
                    reporting features to enhance accuracy and
                    workflow efficiency.
                    </p>
                    <a> Technologies: </a>
                    <a id="tech">
                        Angular, .NET C#, MSSQL, Entity Framework, ADO.NET
                    </a> 
            </div>

            <div class="project">
                <h3>ISA: Indian Society of Anesthesiology</h3>
                <p>ISA is a dynamic platform that simplifies membership management for the Indian Society of Anesthesiology. It allows members to easily apply and join from anywhere in India. The system automates the membership process, including application, verification, and approval, streamlining operations and enhancing user experience.
                    </p>
                    <a> Technologies: </a>
                    <a id="tech">
                        .NET C#, Angular, MSSQL, Entity Framework
                    </a> 
            </div>

        </div>

        <h2 id="projects-header" style="margin-top: 35px;">Projects I've Made </h2>

        <div class="projects">

            <div class="project">
                <h3> Code Pluse </h3>
                <p>CodePluse also folks to create & read the blogs post with there similar interest.</p>
                <a> Technologies: </a>
                <a id="tech">
                    .Net C#, Angular, MSSQL
                </a> 
            </div>

            <div class="project">
                <h3> LED Keyboard - Custom Themes & Fonts </h3>
                <p>Neon LED Keyboard is a free keyboard app that changes your keyboard to vibrant LED lighting effects, colorful keyboard themes, and various customization options.</p>
                <a> Technologies: </a>
                <a id="tech">
                    Android (Kotlin & JAVA), SQLite, Canvas
                </a> 
            </div>

            <div class="project">
                <h3> Alarmy </h3>
                <p>An innovative alarm clock application designed to ensure users wake up effectively. Features include customizable alarm sounds, various wake-up missions. Ideal for heavy sleepers and those needing a more engaging way to start their day.</p>
                <a> Technologies: </a>
                <a id="tech">
                    Android (Kotlin & JAVA), SQLite 
                </a> 
            </div>

            <div class="project">
                <h3> VZ Player - Video & Audio Player </h3>
                <p>Allows users to play any video and also play the video as audio using Google notifications</p>
                <a> Technologies: </a>
                <a id="tech">
                    Android (Kotlin & JAVA), SQLite, Google Notification
                </a> 
            </div>
 
            <div class="project">
                <h3> Parallex Wallpaper - 3D Live Wallpapers </h3>
                <p>Enables users to set custom photos and videos as wallpaper with ease. Break free from standard options and personalize your device to reflect your unique style.</p>
                <a> Technologies: </a>
                <a id="tech">
                    Android Kotlin, SQLite, SurfaceView, System LiveWallpaper Service
                </a> 
            </div>

            <div class="project">
                <h3> Voice Changer </h3>
                <p>Lets users upload their voice recordings and apply various pre-set effects. Users can choose from a diverse range of voice transformations to modify their recordings, making it perfect for adding unique touches to voice clips.</p>
                <a> Technologies: </a>
                <a id="tech">
                    Android JAVA, Room DB
                </a> 
            </div>

            <div class="project">
                <h3> Tic Toc Video Downloader </h3>
                <p>Allows users to download TikTok videos by inserting a URL.</p>
                <a> Technologies: </a>
                <a id="tech">
                    Android (Kotlin & JAVA), SQLite
                </a> 
            </div>

            <div class="project">
                <h3> NewTube - YouTube Player </h3>
                <p>Allows users to Stream and Download YouTube Video, Audio and Subtitle.</p>
                <a> Technologies: </a>
                <a id="tech">
                    Android Kotlin, SQLite, Room DB
                </a> 
            </div>

            <div class="project">
                <h3> Private Messenger </h3>
                <p>Allows users to send and receive messages in real-time.</p>
                <a> Technologies: </a>
                <a id="tech">
                    Android JAVA, SQLite, Firebase
                </a> 
            </div>

            <div class="project">
                <h3> AI Attendence System </h3>
                <p>Face Recoginition System which take the Students Attendence by Scanning their faces.</p>
                <a> Technologies: </a>
                <a id="tech">
                    Python TKinter, OpenCV, Canvas
                </a> 
            </div>

        </div>

    </div>
    
</div>