<div class="section-header">Projects</div>
<div class="projects-container">
  <div *ngFor="let project of projectData" class="project-item" [ngClass]="{'single-line-description': project.description.indexOf('.') === project.description.length - 1 || project.description.indexOf('?') === project.description.length - 1 || project.description.indexOf('!') === project.description.length - 1}">
    <h3>{{ project.name }}</h3>
    <p class="description">{{ project.description }}</p>
    <p class="technologies">Technologies: {{ project.technologies }}</p>
    <p>Type: {{ project.type }}</p>
    <a *ngIf="project.githubLink" href="{{ project.githubLink }}" target="_blank">
      <i class="fas fa-folder fa-2x"></i>
    </a>
    <p *ngIf="project.githubNote">{{ project.githubNote }}</p>
  </div>
</div>
