.blogs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.blog-post {
  border: 1px solid #444;
  padding: 20px;
  margin: 20px;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.blog-post h3 {
  margin-top: 0;
}

.blog-post p {
  margin-bottom: 0.5em;
}

.blog-post a {
  color: #007bff;
  text-decoration: none;
}

.blog-post a:hover {
  text-decoration: underline;
}

.blog-post {
  background-color: #333;
}
